body{
    display: flex;
    justify-content: center;
}
.cv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
}
img{
    max-width: 200px;
}